@import 'colors.css';

#chat-list {
    --row-height: 85px;
    background-color: var(--color-mantle);
    min-width: var(--row-height);
    width: 500px;
    max-width: 75vw;
    height: calc(100vh - 35px);
    overflow-x: auto;
}

#chat-list .chat {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    cursor: pointer;
}

#chat-list .chat.selected {
    background-color: var(--color-blue-bright);
}

#chat-list .chat:hover {
    background-color: var(--color-grey-05);
}

#chat-list .chat .avatar {
    --avatar-margin: 16px;
    --avatar-vertical-margin: calc(var(--avatar-margin) / 2);
    --avatar-size: calc(var(--row-height) - var(--avatar-margin) * 2);
    margin: var(--avatar-vertical-margin) var(--avatar-margin)
            var(--avatar-vertical-margin) var(--avatar-margin);
    width: var(--avatar-size);
    height: var(--avatar-size);
    border-radius: 100%;
}

#chat-list .chat .title {
    font-family: sans-serif;
    font-size: 24px;
    padding-right: 16px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

#chat-list-resizer {
    height: calc(100vh - 35px);
    width: 10px;
    cursor: ew-resize;
    transform: translateX(-50%);
}